<template>
    <li class="dropdown" id="messages">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope"></i>  <span class="label label-warning" ></span>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li>
                <div class="dropdown-messages-box">
                    <a href="#" class="pull-left">
                        <!-- <img alt="image" class="img-circle" src="{{ asset('/images/profiles/profile.jpg') }}"> -->
                    </a>
                    <div class="media-body">
                        <small class="pull-right"></small>
                        <strong></strong> <br>
                        <small class="text-muted"></small>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                 <div class="text-center link-block">
                    <a href="/admin/get-notifications">
                        <strong>See All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
