<template>
  <div>
    <div class="row" v-bind:class="[modalAction == 'Table' ? '' : 'hide']">
      <div class="col-md-12 animated fadeInRight">
        <button @click="newRow()" class="btn btn-primary btn-sm btn-block btn-outline"><i class="fa fa-plus"></i> New Category</button>
        <br>
      </div>
      <div class="col-lg-12">
        <vue-good-table
          :columns="columns"
          :rows="rows"
          :globalSearch="true"
          :paginate="true"
          :lineNumbers="true"
           styleClass="table table-bordered table-striped">
          <template slot="table-row" slot-scope="props">
            <td>
              <a :href="'/blog/category/'+props.row.slug">{{ props.row.title }}</a>
            </td>
            <td width="100" class="text-center">
              <div class="btn-group">
                <a class="btn btn-warning btn-xs" @click="editRow(props.row)"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-xs" @click="deleteRow(props.row)"><i class="fa fa-remove"></i></a>
              </div>
            </td>
          </template>
        </vue-good-table>
      </div>
    </div>
    <div class="row" v-bind:class="[modalAction == 'New' || modalAction == 'Edit' ? '' : 'hide']">
      <!-- New || Edit -->
      <div class="col-md-12 animated fadeInRight">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>{{ modalAction }} Category</h5>
            <div class="ibox-tools">
              <a class="" @click="back">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="form-group" v-bind:class="[errors.title != undefined ? 'has-error' : '']">
              <label class="control-label">Title</label>
              <input type="text" v-model="selected.title" class="form-control">
              <span class="help-block" v-if="errors.title != undefined">
                <strong class="text-danger" v-for="t in errors.title">
                  <span>{{ t }}</span>
                </strong>
              </span>
            </div>
          </div>
          <div class="ibox-footer">
            <button type="button" class="btn btn-warning btn-block" @click="updateRow()" v-if="modalAction == 'Edit'">Update</button>
            <button type="button" class="btn btn-success btn-block" @click="saveRow()" v-if="modalAction == 'New'">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import VueGoodTable from 'vue-good-table';
  
  Vue.use(VueGoodTable);

  export default {
    data(){
      return {
        rows              : [],
        selected          : {},
        errors            : {},
        modalAction       : 'Table',
        columns     : [
          {
            label: 'Title',
            field: 'title',
          },
          {
            label: 'Actions',
            field: 'actions',
          }
        ]
      }
    },
    mounted() {
      // Init
      this.processData()
    },
    methods : {
      processData : function(){

        axios.get('/admin/blog/category').then((response) => {
          this.rows = response.data.rows;
        })
      },
      back : function(){

        this.errors         = {};
        this.modalAction    = 'Table';
        this.selected       = {
          title   : ''
        };
      },
      newRow : function(){

        this.errors         = {};
        this.modalAction    = 'New';
        this.selected       = {
          title     : ''
        };
      },
      saveRow : function(){

        if(this.selected.title != ''){

          axios.post('/admin/blog/category', {
            title  : this.selected.title

          }).then((response) => {

            this.rows.push(response.data)
            this.modalAction = 'Table';
            Vue.toasted.show('Saved', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

          }).catch((error) => {

            this.errors = error.response.data;
            Vue.toasted.show('Error, Please check the form.', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
          });
        }
      },
      editRow : function(row){

        this.errors         = {};
        this.selected       = row;
        this.modalAction    = 'Edit';
        this.selected.old   = row.slug;

      },
      updateRow : function(){

        axios.post('/admin/blog/category', {
          _method     : 'PUT',
          title       : this.selected.title,
          old         : this.selected.old

        }).then((response) => {

          this.selected.title = response.data.title
          this.selected.slug  = response.data.slug;
          this.modalAction    = 'Table';
          Vue.toasted.show('Updated', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

        }).catch((error) => {

          // this.errors = error.response.data;
          Vue.toasted.show('Error, Please check the form.', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
        });

      },
      deleteRow : function(row){

        if(confirm('Are you Sure to Remove !')){
          axios.post('/admin/blog/category/' + row.slug, {
            _method : 'DELETE',
            slug    : row.slug

          }).then((response) => {

            this.rows.splice(row.originalIndex, 1);
            Vue.toasted.show('Deleted', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

          }).catch((error) => {

            // console.log(error);
            Vue.toasted.show('Error.', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
          });

        }
      }
    }
  }
</script>

<style>
</style>
