<template>
  <div>
    <div class="row" v-bind:class="[modalAction == 'Table' ? '' : 'hide']">
      <div class="col-md-12 animated fadeInRight">
        <button @click="newRow()" class="btn btn-primary btn-sm btn-block btn-outline"><i class="fa fa-plus"></i> Write new post</button>
        <br>
      </div>
      <div class="col-lg-12">
        <vue-good-table
          :columns="columns"
          :rows="rows"
          :globalSearch="true"
          :paginate="true"
          :lineNumbers="true"
           styleClass="table table-bordered table-striped">
          <template slot="table-row" slot-scope="props">
            <td>
              <a :href="'/blog/'+props.row.slug">{{ props.row.title }}</a>
            </td>
            <td>
              {{ props.row.status }}
            </td>
            <td>
              <a :href="'/blog/category/'+props.row.category_slug">{{ props.row.category }}</a>
            </td>
            <td>
              <a :href="'/user/'+props.row.user.slug_name">{{ props.row.user.name }}</a>
            </td>
            <td>
              {{ props.row.created_at }}
            </td>
            <td class="text-right">
              {{ props.row.views }}
            </td>
            <td width="100" class="text-center">
              <div class="btn-group">
                <a class="btn btn-warning btn-xs" @click="editRow(props.row)"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-xs" @click="deleteRow(props.row)"><i class="fa fa-remove"></i></a>
              </div>
            </td>
          </template>
        </vue-good-table>
      </div>
    </div>
    <!-- New || Edit -->
    <div class="row" v-bind:class="[modalAction == 'New' || modalAction == 'Edit' ? '' : 'hide']">
      <div class="col-md-9 animated fadeInRight">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>{{ modalAction }} Post</h5>
            <div class="ibox-tools">
              <a class="" @click="back">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="form-group" v-bind:class="[errors.title != undefined ? 'has-error' : '']">
              <label class="control-label">Title</label>
              <input type="text" v-model="selected.title" class="form-control">
              <span class="help-block" v-if="errors.title != undefined">
                <strong class="text-danger" v-for="t in errors.title">
                  <span>{{ t }}</span>
                </strong>
              </span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" v-bind:class="[errors.status != undefined ? 'has-error' : '']">
                  <label class="control-label">Status</label>
                  <select v-model="selected.status" class="form-control">
                    <option v-for="status in setup.statues" v-bind:value="status.title">
                      {{ status.title }}
                    </option>
                  </select>
                  <span class="help-block" v-if="errors.status != undefined">
                    <strong class="text-danger" v-for="s in errors.status">
                      <span>{{ s }}</span>
                    </strong>
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" v-bind:class="[errors.category != undefined ? 'has-error' : '']">
                  <label class="control-label">Category</label>
                  <select v-model="selected.category" class="form-control">
                    <option v-for="category in setup.categories" v-bind:value="category.title">
                      {{ category.title }}
                    </option>
                  </select>
                  <span class="help-block" v-if="errors.category != undefined">
                    <strong class="text-danger" v-for="c in errors.category">
                      <span>{{ c }}</span>
                    </strong>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group" v-bind:class="[errors.content != undefined ? 'has-error' : '']">
              <label class="control-label">Content</label>
              <vue-editor v-model="selected.content" :editorToolbar="customToolbar"></vue-editor>
              <span class="help-block" v-if="errors.content != undefined">
                <strong class="text-danger" v-for="c in errors.content">
                  <span>{{ c }}</span>
                </strong>
              </span>
            </div>
            <div class="form-group">
              <label class="control-label">Tags</label>
              <input-tag :tags="selected.tags" class="form-group"></input-tag>
            </div>
            <div class="form-group" v-if="modalAction == 'Edit' && totalComments > 0">
              <hr>
              <label class="control-label">Comments</label>
              <div v-for="(comment, key) in selected.comments">
                <div class="row">
                  <div class="col-sm-1">
                    <div class="thumbnail">
                      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                  </div>
                  <div class="col-sm-11">
                    <div class="panel" v-bind:class="[comment.spam ? 'panel-warning' : 'panel-default']">
                      <div class="panel-heading">
                        <strong>{{ comment.author }}</strong> <span class="pull-right">{{ comment.created_at }}</span>
                      </div>
                      <div class="panel-body">
                        <input type="checkbox" class="pull-right" v-model="comment.spam" @change="updateComment(comment)">
                        {{ comment.content }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 animated fadeInRight">
        <button type="button" class="btn btn-warning btn-block" @click="updateRow()" v-if="modalAction == 'Edit'" :disabled="imageComplete">Update</button>
        <button type="button" class="btn btn-success btn-block" @click="saveRow()" v-if="modalAction == 'New'" :disabled="imageComplete">Save</button>
        <hr>
        <div class="form-group">
          <!-- Thumbnail -->
          <div v-if="selected.image.url != null">
            <label class="control-label">Cover</label>
            <span class="badge bg-danger" @click="removeImage()">x</span>
            <img :src="selected.image.url" class="img-thumbnail" :alt="selected.title">
          </div>
          <!-- End Thumbnail -->
        </div>
        <div class="form-group" v-if="selected.image.url == null" v-bind:class="[errors.cover != undefined ? 'has-error' : '']">
          <label class="control-label">Cover</label>
          <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
          <span class="help-block" v-if="errors.cover != undefined">
            <strong class="text-danger" v-for="i in errors.cover">
              <span>{{ i }}</span>
            </strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import VueGoodTable from 'vue-good-table';
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.css'
  import InputTag from 'vue-input-tag'
  import { VueEditor } from 'vue2-editor'
  import Toasted from 'vue-toasted'
  
  Vue.use(VueGoodTable);
  Vue.use(Toasted, { iconPack : 'fontawesome' });

  export default {
    components: {
      vueDropzone : vue2Dropzone,
      'input-tag' : InputTag,
      'vue-editor': VueEditor
    },
    computed: {
      totalComments: function() {
        return Object.keys(this.selected.comments).length;
      }
    },
    data(){
      var vm = this;
      return {
        imageComplete     : false,
        rows              : [],
        selected          : { 
          image     : { url : null, thumbnail : null}, 
          tags      : [],
          comments  : []
        },
        errors            : {},
        setup             : [],
        modalAction       : 'Table',
        dropzoneOptions: {
          maxFilesize         : 5,
          maxFiles            : 1,
          thumbnailWidth      : 160,
          addRemoveLinks      : true,
          paramName           : 'image',
          dictCancelUpload    : "Cancel",
          acceptedFiles       : 'image/*',
          url                 : '/admin/blog/image',
          dictDefaultMessage  : "<i class='fa fa-cloud-upload'></i> UPLOAD Image",
          headers             : { "X-CSRF-TOKEN": document.querySelector('meta[name="csrf-token"]').getAttribute('content') },
          init                : function() {
            this.on("addedfile", function(file){
              vm.imageComplete = true
            });
            this.on('success', (response, data) => {
              vm.selected.image.url        = data;
              vm.selected.cover            = data;
              vm.selected.image.thumbnail  = data +'-thumb';
            });
            this.on('success', (file) => {
              setTimeout(() =>  { this.removeFile(file) }, 4000)
            });
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                vm.imageComplete = false
              }
            });
          }
        },
        customToolbar: [
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote'],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
          [{ 'indent': '-1'}, { 'indent': '+1' }],
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'font': [] }],
          [{ 'align': [] }],
          ['link' ,'image', 'video', 'code-block'],
          ['clean']
        ],
        columns     : [
          {
            label: 'Title',
            field: 'title',
          },
          {
            label: 'Status',
            field: 'status',
          },
          {
            label: 'Category',
            field: 'category',
          },
          {
            label: 'Author',
            field: 'author',
          },
          {
            label: 'Created',
            field: 'created_at',
            type: 'date',
            inputFormat: 'YYYYMMDD',
            outputFormat: 'YYYYMMDD',
          },
          {
            label: 'Views',
            field: 'views',
            type: 'number',
            html: false,
          },
          {
            label: 'Actions',
            field: 'actions'
          }
        ]
      }
    },
    mounted() {
      // Init
      this.processData()
    },
    methods : {
      back : function(){

        this.errors         = {};
        this.modalAction    = 'Table';
        this.selected       = {
          cover     : null,
          image     : { url : null, thumbnail : null }, 
          tags      : [],
          content   : '',
          comments  : []
        };
      },
      processData : function(){

        axios.get('/admin/blog').then((response) => {
          this.rows     = response.data.rows;
          this.setup    = response.data.setup;
        })
      },
      newRow : function(){

        this.errors         = {};
        this.modalAction    = 'New';
        this.selected       = {
          status    : 'Published',
          category  : 'Drift',
          content   : '', 
          cover     : null,
          image     : { url : null, thumbnail : null }, 
          tags      : []
        };
      },
      saveRow : function(){

        axios.post('/admin/blog', {
          id          : this.selected._id,
          title       : this.selected.title,
          category    : this.selected.category,
          status      : this.selected.status,
          content     : this.selected.content,
          tags        : this.selected.tags,
          image       : this.selected.image,
          cover       : this.selected.image.url

        }).then((response) => {

          this.rows.unshift(response.data);
          this.modalAction = 'Table';
          Vue.toasted.show('Saved', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

        }).catch((error) => {

          this.errors = error.response.data;
          Vue.toasted.show('Error, Please check the form.', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
        });
      },
      editRow : function(row){

        this.errors       = {};
        this.selected     = row;
        this.cover        = row.image.url;
        this.modalAction  = 'Edit';
      },
      updateRow : function(){

        axios.post('/admin/blog', {
          _method     : 'PUT',
          id          : this.selected._id,
          title       : this.selected.title,
          category    : this.selected.category,
          status      : this.selected.status,
          content     : (this.selected.content != '<p><br></p>' && this.selected.content != '')? this.selected.content : '',
          tags        : this.selected.tags,
          image       : this.selected.image,
          cover       : this.selected.image.url

        }).then((response) => {

          this.modalAction ='Table';
          Vue.toasted.show('Updated', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

        }).catch((error) => {

          this.errors = error.response.data;
          Vue.toasted.show('Error, Please check the form.', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
        });
      },
      deleteRow : function(row){

        if(confirm('Are you Sure to Remove !')){

          axios.post('/admin/blog/' + row._id, {
            _method : 'DELETE',

          }).then((response) => {

            this.rows.splice(row.originalIndex, 1);
            Vue.toasted.show('Deleted', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

          }).catch((error) => {

            // console.log(error);
            Vue.toasted.show('Error', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
          });

        }
      },
      removeImage : function(){

        if(confirm('Are you sure ?')){
          axios.post('/admin/blog/image', {
            _method   : 'DELETE',
            url       : this.selected.image.url,
            thumbnail : this.selected.image.thumbnail

          }).then((response) => {

            // Nice
            // console.log(response.data)
          }).catch((error) => {

            // console.log(error);
          });

          this.selected.image.url       = null;
          this.selected.image.thumbnail = null;
        }
      },
      updateComment : function(comment){

        axios.post('/admin/blog/update-comment', {
            
          _method   : 'PUT',
          id        : comment.id.$oid,
          author    : comment.author,
          content   : comment.content,
          created_at: comment.created_at,
          spam      : comment.spam

        }).then((response) => {

          // Nice
          // console.log(response.data)
          Vue.toasted.show('Comment Updated', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});
        }).catch((error) => {

          // console.log(error);
        });
      }
    }
  }
</script>

<style>
  .cover { background-color: red; border-radius: 10px; padding: 0px; -webkit-transition: padding 0.1s; transition: padding 0.1s; }
  .badge { position: absolute; text-shadow: none; right: 10px; top: 92px; }
  .quillWrapper .ql-snow.ql-toolbar { background-color: #ffffff;  }
  .ql-editor { background-color : #ffffff; }
  .remove-image { position: absolute; top: 30px; left: 45%; }
  #customdropzone {
    background-color: orange;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.2px;
    color: #777;
    transition: background-color .2s linear;
    height: 200px;
    padding: 40px;
  }

  #customdropzone .dz-preview {
    width: 160px;
    display: inline-block
  }
  #customdropzone .dz-preview .dz-image {
    width: 80px;
    height: 80px;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  #customdropzone .dz-preview .dz-image > div {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-size: contain;
  }
  #customdropzone .dz-preview .dz-image > img {
    width: 100%;
  }

  #customdropzone .dz-preview .dz-details {
    color: white;
    transition: opacity .2s linear;
    text-align: center;
  }
  #customdropzone .dz-success-mark, .dz-error-mark, .dz-remove {
    display: none;
  }
</style>
