<template>
  <div class="row animated fadeInDown">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" v-model="q" @keyup.enter="search" class="form-control col-md-12" placeholder="Buscador">
        <button v-if="allData" class="btn btn-primary" @click="clearData">Clear Data</button>
      </div>
    </div>
    <br>
    <hr>
    <div class="col-md-4 animated fadeInUp" v-for="(row, key) in rows">
      <a :href="'/market/'+ row.slug">
        <div class="ibox">
          <div class="ibox-content product-box">
            <div class="">
                
              <img class="img-responsive" width="342px" height="200px" :src="getThumbnail(row.images)">

            </div>
            <div class="product-desc">
              <span class="product-price">
                  {{ row.currency +' '+ row.price }}
              </span>
              <small class="text-muted">
                <a :href="'/market/categoria/'+ row.category_slug ">{{ row.category }}</a>
              </small>
              <a :href="'/market/'+ row.slug" class="product-name"> {{ row.title }}</a>
            </div>
              
          </div>
        </div>
      </a>
    </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue';

  export default {
    data(){
      var vm = this;
      return {
        q           : '',
        rows        : [],
        currentPage : 1,
        total       : 0,
        nextPage    : '',
        allData     : false
      }
    },
    mounted() {
      this.processData();

      var vm = this;

      window.addEventListener('scroll', function(e){
        if((window.innerHeight + window.scrollY) >= document.body.scrollHeight){

          vm.getNextData();
        }
      })

    },
    methods : {
      processData : function(){

        axios.get('/market').then((response) => {
          
          this.rows         = response.data.data;
          this.nextPage     = '/market?page=2';
          this.total        = response.data.total;

        })

      },
      getNextData : function(){

        if(this.nextPage != undefined && this.total >= this.rows.length){

          axios.get(this.nextPage).then((response) => {

            for (var i = 0; i < response.data.length; i++) {
              this.rows.push(response.data[i])
            }

            this.currentPage ++;
            this.nextPage = '/market?page=' + ((this.currentPage) + 1);

          })
        }
      },
      search : function(){

        axios.get('/market?search=' + this.q).then((response) => {

          this.rows         = response.data;
          this.currentPage  = 1;
          this.total        = response.data.length;
          this.nextPage     = undefined;
          this.allData      = true;
        })
      },
      clearData : function(){

        this.allData  = false;
        this.q        = '';
        this.processData();

      },
      getThumbnail(images){

        images.forEach((i, k) => {

          if(i.thumbnail){ 

            return i.url;
          }
        });
        
        return images[0].url;
      }

    }
  }
</script>

<style>
  
</style>
