<template>
  <div class="wrapper wrapper-content">
    <div class="row" v-bind:class="[modalAction == 'Table' ? '' : 'hide']">
      <div class="col-md-12 animated fadeInUp">
        <div class="row">
          <div class="col-lg-2">
              <div class="ibox ">
                  <div class="ibox-title">
                      <span class="label label-warning pull-right">!</span>
                      <h5>Queue</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins text-center">{{ totalPostsQueue }}</h1>
                      <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                      <!-- <small>Total income</small> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="ibox ">
                  <div class="ibox-title">
                      <span class="label label-info pull-right">!</span>
                      <h5>Published</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins text-center">{{ totalPostsPublished }}</h1>
                      <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                      <!-- <small>Total income</small> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="ibox ">
                  <div class="ibox-title">
                      <span class="label label-danger pull-right">!</span>
                      <h5>Sold</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins text-center">{{ totalPostsSold }}</h1>
                      <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                      <!-- <small>Total income</small> -->
                  </div>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="ibox ">
                  <div class="ibox-title">
                      <span class="label label-success pull-right">!</span>
                      <h5>Total</h5>
                  </div>
                  <div class="ibox-content">
                      <h1 class="no-margins text-center">{{ totalPosts }}</h1>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="ibox ">
                  <div class="ibox-content text-center">
                    <i class="fa fa-shield fa-4x text-primary"></i>
                    <button @click="newRow()" class="btn btn-primary btn-sm btn-block btn-outline"><i class="fa fa-plus"></i> New Post</button>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <vue-good-table
          :columns="columns"
          :rows="rows"
          :globalSearch="true"
          :paginate="true"
          :lineNumbers="true"
           styleClass="table table-bordered table-striped">
          <template slot="table-row" slot-scope="props">
            <td>
              <a :href="'/market/'+props.row.slug">{{ props.row.title }}</a>
            </td>
            <td>
              {{ props.row.status }}
            </td>
            <td>
              <a :href="'/user/'+props.row.user.slug_name">{{ props.row.user.name }}</a>
            </td>
            <td>
              {{ props.row.created_at }}
            </td>
            <td class="text-right">
              {{ props.row.currency +' '+ props.row.price }}
            </td>
            <td class="text-right">
              {{ props.row.views }}
            </td>
            <td width="100" class="text-center">
              <div class="btn-group">
                <a class="btn btn-warning btn-xs" @click="editRow(props.row)"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-xs" @click="deleteRow(props.row)"><i class="fa fa-remove"></i></a>
              </div>
            </td>
          </template>
        </vue-good-table>
        <br>
      </div>
    </div>
    <!-- New || Edit -->
    <div class="row" v-bind:class="[modalAction == 'New' || modalAction == 'Edit' ? '' : 'hide']">
      <div class="col-md-12 animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>{{ modalAction }} Post </h5>
              <div class="ibox-tools">
                <a class="" @click="back">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <!-- Thumbnails -->
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-2 padding-15" v-for="(image, key) in selected.images" v-bind:class="{ 'cover' : image.thumbnail == true }">
                    <span class="badge bg-danger" @click="removeImage(key)">x</span>
                    <img :src="image.url" class="img-thumbnail" :alt="selected.title" @click="setCover(key)">
                  </div>
                </div>
              </div>
              <hr v-if="totalImages > 0">
              <!-- End Thumbnails -->
              <div class="form-group" v-bind:class="[errors.title != undefined ? 'has-error' : '']">
                <label class="control-label">Title</label>
                <input type="text" v-model="selected.title" class="form-control">
                <span class="help-block" v-if="errors.title != undefined">
                  <strong class="text-danger" v-for="t in errors.title">
                    <span>{{ t }}</span>
                  </strong>
                </span>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" v-bind:class="[errors.status != undefined ? 'has-error' : '']">
                    <label class="control-label">Status</label>
                    <select v-model="selected.status" class="form-control">
                      <option v-for="status in setup.statues" v-bind:value="status.title">
                        {{ status.title }}
                      </option>
                    </select>
                    <span class="help-block" v-if="errors.status != undefined">
                      <strong class="text-danger" v-for="s in errors.status">
                        <span>{{ s }}</span>
                      </strong>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" v-bind:class="[errors.category != undefined ? 'has-error' : '']">
                    <label class="control-label">Category</label>
                    <select v-model="selected.category" class="form-control">
                      <option v-for="category in setup.categories" v-bind:value="category.title">
                        {{ category.title }}
                      </option>
                    </select>
                    <span class="help-block" v-if="errors.category != undefined">
                      <strong class="text-danger" v-for="c in errors.category">
                        <span>{{ c }}</span>
                      </strong>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" v-bind:class="[errors.category != undefined ? 'has-error' : '']">
                    <label class="control-label">Currency</label>
                    <select v-model="selected.currency" class="form-control">
                      <option v-for="currency in setup.currencies" v-bind:value="currency.title">
                        {{ currency.title }}
                      </option>
                    </select>
                    <span class="help-block" v-if="errors.currency != undefined">
                      <strong class="text-danger" v-for="c in errors.currency">
                        <span>{{ c }}</span>
                      </strong>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" v-bind:class="[errors.price != undefined ? 'has-error' : '']">
                    <label class="control-label">Price</label>
                    <input type="text" v-model.lazy="selected.price" class="form-control" v-money="money">
                    <span class="help-block" v-if="errors.price != undefined">
                      <strong class="text-danger" v-for="p in errors.price">
                        <span>{{ p }}</span>
                      </strong>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group" v-bind:class="[errors.content != undefined ? 'has-error' : '']">
                <label class="control-label">Content</label>
                <vue-editor v-model="selected.content" :editorToolbar="customToolbar"></vue-editor>
                <span class="help-block" v-if="errors.content != undefined">
                  <strong class="text-danger" v-for="c in errors.content">
                    <span>{{ c }}</span>
                  </strong>
                </span>
              </div>
              <div class="form-group">
                <label class="control-label">Tags</label>
                <input-tag :tags="selected.tags" class="form-group"></input-tag>
              </div>
              <div class="form-group" v-if="totalImages < dropzoneOptions.maxFiles" v-bind:class="[errors.images != undefined ? 'has-error' : '']">
                <label class="control-label">Images</label>
                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
                <span class="help-block" v-if="errors.images != undefined">
                  <strong class="text-danger" v-for="i in errors.images">
                    <span>{{ i }}</span>
                  </strong>
                </span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning btn-block" @click="updateRow()" v-if="modalAction == 'Edit'" :disabled="imagesComplete">Update</button>
              <button type="button" class="btn btn-success btn-block" @click="saveRow()" v-if="modalAction == 'New'" :disabled="imagesComplete">Save</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue';
  import VueGoodTable from 'vue-good-table';
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.css'
  import InputTag from 'vue-input-tag'
  import { VueEditor } from 'vue2-editor'
  import {VMoney} from 'v-money'
  
  Vue.use(VueGoodTable);

  export default {
    components: {
      vueDropzone     : vue2Dropzone,
      'input-tag'     : InputTag,
      'vue-editor'    : VueEditor
    },
    directives: {
      money: VMoney
    },
    computed: {
      totalImages: function() {
        return Object.keys(this.selected.images).length;
      }
    },
    data(){
      var vm = this;
      return {
        totalPosts          : 0,
        totalPostsQueue     : 0,
        totalPostsPublished : 0,
        totalPostsSold      : 0,
        imagesComplete      : false,
        money     : {
          decimal     : '',
          thousands   : ',',
          prefix      : '',
          suffix      : '',
          precision   : 0,
          masked      : false /* doesn't work with directive */
        },
        rows              : [],
        tags              : [],
        selected          : { 
          images      : [], 
          tags        : [],
        },
        errors            : {},
        setup             : [],
        modalAction       : 'Table',
        dropzoneOptions: {
          maxFilesize         : 5,
          maxFiles            : 3,
          thumbnailWidth      : 160,
          addRemoveLinks      : true,
          paramName           : 'image',
          dictCancelUpload    : "Cancel",
          acceptedFiles       : 'image/*',
          url                 : '/admin/market/image',
          dictDefaultMessage  : "<i class='fa fa-cloud-upload'></i> UPLOAD Image",
          headers             : { "X-CSRF-TOKEN": document.querySelector('meta[name="csrf-token"]').getAttribute('content') },
          init                : function() {
            this.on("addedfile", function(file){
              vm.imagesComplete = true
            });
            this.on('success', (response, data) => {
              vm.selected.images.push({ url : data , thumbnail : false })
            });
            this.on('success', (file) => {
              setTimeout(() =>  { this.removeFile(file) }, 4000)
            });
            this.on("complete", function (file) {
              if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                vm.imagesComplete = false
              }
            });
          }
        },
        customToolbar: [
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote'],
          [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
          [{ 'indent': '-1'}, { 'indent': '+1' }],
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'font': [] }],
          [{ 'align': [] }],
          ['link' ,'image', 'video', 'code-block'],
          ['clean']
        ],
        columns     : [
          {
            label: 'Title',
            field: 'title',
          },
          {
            label: 'Status',
            field: 'status',
          },
          {
            label: 'Author',
            field: 'author',
          },
          {
            label: 'Created',
            field: 'created_at',
            type: 'date',
            inputFormat: 'YYYYMMDD',
            outputFormat: 'YYYYMMDD',
          },
          {
            label: 'Price',
            field: 'price',
            type: 'number',
            html: false,
          },
          {
            label: 'Views',
            field: 'views',
            type: 'number',
            html: false,
          },
          {
            label: 'Actions',
            field: 'actions'
          }
        ]
      }
    },
    mounted() {
      // Init
      this.processData()
    },
    methods : {
      processData : function(){

        axios.get('/admin/market').then((response) => {

          this.rows                 = response.data.rows;
          this.totalPosts           = response.data.totalPosts;
          this.totalPostsQueue      = response.data.totalPostsQueue;
          this.totalPostsPublished  = response.data.totalPostsPublished;
          this.totalPostsSold       = response.data.totalPostsSold;
          this.setup                = response.data.setup;
        })

      },
      back : function(){

        this.errors         = {};
        this.modalAction    = 'Table';
        this.selected       = {
          tags      : [],
          content   : '',
          images    : []
        };
      },
      newRow : function(){

        this.errors         = {};
        this.tags           = [];
        this.modalAction    = 'New';
        this.content        = '';
        this.selected       = {
          status    : 'Published',
          category  : 'Vehiculo',
          currency  : 'RD',
          content   : '', 
          images    : [], 
          tags      : this.tags
        };
        $('#modal-row').modal('show');
      },
      saveRow : function(){

        axios.post('/admin/market', {
          id          : this.selected._id,
          title       : this.selected.title,
          category    : this.selected.category,
          status      : this.selected.status,
          content     : this.selected.content,
          currency    : this.selected.currency,
          price       : this.selected.price,
          tags        : this.selected.tags,
          images      : this.selected.images

        }).then((response) => {

          this.rows.unshift(response.data);
          this.modalAction    = 'Table';
          Vue.toasted.show('Saved', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

        }).catch((error) => {

          this.errors = error.response.data;
          Vue.toasted.show('Error, Please check the form.', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
        });


      },
      editRow : function(row){

        this.errors       = {};
        this.tags         = [];
        this.selected     = row;
        this.tags         = row.tags;
        this.modalAction  = 'Edit';
        $('#modal-row').modal('show');

      },
      updateRow : function(){

        axios.post('/admin/market', {
          _method     : 'PUT',
          id          : this.selected._id,
          title       : this.selected.title,
          category    : this.selected.category,
          status      : this.selected.status,
          content     : (this.selected.content != '<p><br></p>' && this.selected.content != '')? this.selected.content : '',
          currency    : this.selected.currency,
          price       : this.selected.price,
          tags        : this.selected.tags,
          images      : this.selected.images,

        }).then((response) => {

          this.modalAction    = 'Table';
          Vue.toasted.show('Updated', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

        }).catch((error) => {

          this.errors = error.response.data;
          Vue.toasted.show('Error, Please check the form.', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
        });

      },
      deleteRow : function(row){

        if(confirm('Are you Sure to Remove !')){

          axios.post('/admin/market/' + row._id, {
            _method : 'DELETE',

          }).then((response) => {

            this.rows.splice(row.originalIndex, 1);
            Vue.toasted.show('Deleted', {type : 'success', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'check'});

          }).catch((error) => {

            // console.log(error);
            Vue.toasted.show('Error', {type : 'error', duration : 5000, theme : 'primary', closeOnSwipe : true, icon : 'times'});
          });

        }
      },
      removeImage : function(index){

        if(confirm('Are you sure ?')){

          let url = this.selected.images.splice(index, 1).url;

          axios.post('/admin/market/image', {
            
            _method : 'DELETE',
            url     : url

          }).then((response) => {

            // Nice
            // console.log(response.data)
          }).catch((error) => {

            // console.log(error);
          });

        }
      },
      setCover : function(index){
        this.selected.images.forEach((image, k) => {
          image.thumbnail = false;
        })

        this.selected.images[index].thumbnail = true;
      }
    }
  }
</script>

<style>
  .cover { background-color: red; border-radius: 10px; padding: 0px; -webkit-transition: padding 0.1s; transition: padding 0.1s; }
  .badge { position: absolute; text-shadow: none; right: 7px; top: -5px; }
  .padding-15 { padding-bottom: 6px; }
  .quillWrapper .ql-snow.ql-toolbar { background-color: #ffffff;  }
  .ql-editor { background-color : #ffffff; }
  .remove-image { position: absolute; top: 30px; left: 45%; }
  #customdropzone {
    background-color: orange;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.2px;
    color: #777;
    transition: background-color .2s linear;
    height: 200px;
    padding: 40px;
  }

  #customdropzone .dz-preview {
    width: 160px;
    display: inline-block
  }
 #customdropzone .dz-preview .dz-image {
    width: 80px;
    height: 80px;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  #customdropzone .dz-preview .dz-image > div {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-size: contain;
  }
  #customdropzone .dz-preview .dz-image > img {
    width: 100%;
  }

   #customdropzone .dz-preview .dz-details {
    color: white;
    transition: opacity .2s linear;
    text-align: center;
  }
  #customdropzone .dz-success-mark, .dz-error-mark, .dz-remove {
    display: none;
  }
</style>
